---
import Base from '../layouts/Base.astro'
import Hero from '../components/Hero.astro'
import Trail from '../components/Trail.astro'
import Footer from '../components/Footer.astro'
---

<Base>
  <main id="main" tabindex="-1" class="mx-auto max-w-[600px] px-5">
    <Hero />
    <Trail />
    <Footer />
  </main>
</Base>
