---
import { loadStops } from '../lib/events'
import Stop from './Stop.astro'

const stops = loadStops()
---

<nav aria-label="Timeline of time-change incidents">
  <ol>
    {stops.map((stop, i) => <Stop stop={stop} isFirst={i === 0} />)}
  </ol>
</nav>
